/* --- ROOT VARIABLES */

:root {
  --main-font: "lores-12", sans-serif;
  --accent-white: #323157;
  --no-display: none;
}

/*  --- GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--accent-white);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--accent-white);
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

main {
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
}

.grid-layout {
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.green-bg-clr {
  background-color: rgb(105, 209, 124);
}

.big-wow {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.idle-message {
  display: none;
  position: fixed;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: var(--main-font);
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  transition: all 0.5s infite;
}

.pg-header-text {
  margin-left: 10px;
  padding: 3px 8px;
  font-size: 16px;
  border-radius: 2px;
  text-transform: uppercase;
  color: black;
  width: fit-content;
  position: absolute;
  top: 50px;
  background-color: rgba(119, 218, 117, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
}

.pg-header-text em {
  text-underline-offset: 3px;
}

.landing-sub-container {
  width: 100%;
  position: absolute;
  top: 550px;
}

.pg-header-text-landing {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

.no-overflow {
  overflow: hidden;
}

.scroll {
  overflow: scroll;
  scrollbar-width: none;
}

.hidden {
  display: var(--no-display);
}

/* --- LANDING */

.landing-vid__container {
  position: static;
  user-select: none;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(50, 49, 88, 1);
}

.landing-vid {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
  mix-blend-mode: normal;
}

/* --- MENU */

.menu-container,
.menu-container-mobile {
  position: fixed;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  top: 0;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  z-index: 1000;
}

.menu-list {
  display: flex;
  gap: 6px;
}

.menu__item {
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-size: 14px;

  padding: 3px 8px;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  appearance: none;
  background-color: rgba(98, 187, 139, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.menu__item:hover {
  background-color: rgba(119, 218, 117, 1);
}

.active-page {
  background-color: rgb(74, 200, 72);
}

.home-icon {
  fill: black;
  width: 18px;
}

.logo-svg-container {
  border: 4px solid rgba(119, 218, 117, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  mix-blend-mode: difference;
}

.logo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.logo-png {
  margin: 0;
  width: fit-content;
  transform: scale(1.3);
  height: auto;
}

/* Base styling for the logo SVG */
.logo-svg {
  fill: var(--accent-white);
  stroke: black;
  transition: fill 3s ease-in-out;
}

/* Path elements inside the SVG will animate on hover */
.cls-1:hover {
  fill: transparent;
  stroke: transparent;
  transition: fill 2s ease-in-out, stroke 2s ease-in-out;
}

/* Return to default color after hover ends */
.cls-1 {
  transition: fill 3s ease-in-out; /* Smooth transition back to base color */
}

.line-divider {
  height: 10px;
  background-color: #74c043;
  z-index: 789;
}

/* --- BANNER */
.marquee-wrapper {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: absolute;
  bottom: 60px;
}

.marquee {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 18s linear infinite;
}

.mrq-text {
  float: left;
  width: 50%;
  color: white;
  mix-blend-mode: difference;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* ---- ABOUT */
.content__about-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 50px;

  transition: all 0.3s ease;
}

.content__about {
  background-color: black;
  width: 100%;
  height: 20%;
  padding: 15px 10px;
  font-family: var(--main-font);
}

.content__about-desc {
  column-count: 5;
  color: white;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.content__about-desc p {
  padding: 0.5rem 0.7em;
  margin: 0 0 1em 0;
  box-decoration-break: clone;
  border-left: 5px solid #9bd575;
}

.content__about-desc p a {
  color: white;
}

.content__about-img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  pointer-events: none;
}

.content__about-img img {
  height: 800px;
  object-fit: cover;
  object-position: center 30%;
}

.smaller-img {
  border: 5px solid #9bd575;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  pointer-events: none;
}

.img-title {
  position: absolute;
  background-color: whitesmoke;
  font-size: 10px;
  padding: 4px;
  bottom: 10px;
}

/* --- VISZ */
.content__vis-wrapper {
  position: relative;
  width: 100%;
  padding-top: 40px;
  color: whitesmoke;
}


.visz-legend {
  padding-top: 12px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
}

.visz-legend p {
  padding: 3px 0 3px 18px;
  font-family: var(--main-font);
  color: whitesmoke;
}

.visz-legend p a {
  color: whitesmoke;
  text-underline-offset: 2px;
}

.content__vis--grid {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 10px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;

  transition: all 0.3s ease;
}

.content__vis--grid__item {
  border: 3px solid #312fa6;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}

.content__vis--grid__item__img {
  padding: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: flex;
  justify-content: end;
  align-items: end;
}

.content__vis--grid__item__img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content__vis--grid__item__info {
  margin: 0 auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font);
  opacity: 0;
  transition: 0.5s ease;
}

.content__vis--grid__item__img:hover .content__vis--grid__item__info {
  opacity: 1;
}

.content__vis--grid__item__info__date a {
  color: #74c043;
}

.content__vis--grid__item__info__date {
  margin: 0;
  padding: 5px 0;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  pointer-events: auto;
}

/* --- IMAGES */
.content__prod-wrap {
  margin-top: 52px;
}

.content__prod-desc p {
  margin: 0 auto;
  padding: 15px;
  font-family: var(--main-font);
  display: flex;
  color: black;
}

.scan-smears {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  margin: 0;
  padding: 10px;
  gap: 5px;
}

.scan-smears img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border: 5px solid #312fa6;
}

/* --- PRODS */

.content__prod-projects {
  margin: 0 auto;
  margin-top: 120px;
  max-width: 900px;
}

.table-set {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid orange;
  font-family: var(--main-font);
  display: flex;
  justify-content: left;
}

.content__prod-tb-header {
  padding: 10px 0;
  letter-spacing: 2px;
}

.content__prod-info {
  margin: 0 auto;
}

.content__prod-info td:first-child {
  font-weight: 700;
  width: 300px;
}

.content__prod-headers {
  text-decoration: underline;
}

.content__prod-info td {
  padding: 5px;
  width: 160px;
}

.content__prod-info td a {
  color: black;
  text-decoration: none;
}

.content__prod-info td a:hover {
  color: #74c043;
  text-decoration: underline;
}

.content__prod-list {
  font-family: var(--main-font);
  list-style: none;
}

/* --- BUTTON */
.load-more-btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.load-more-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9bd575;
  color: rgb(10, 10, 10);
  border: none;
  border-radius: 3px;
  font-family: var(--main-font);
  text-transform: uppercase;
  width: fit-content;
}

.load-more-btn:hover {
  background-color: #312fa6;
  color: var(--accent-white);
}

/* --- FOOTER */
footer {
  position: static;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  z-index: 800;
}

.foot-text {
  text-align: center;
  padding: 10px;
  font-size: 13px;
  color: whitesmoke;
}

.move-down,
.move-down-330,
.move-down-420 {
  display: none;
}

@media only screen and (max-width: 845px) {
  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;
    gap: 30px;
    z-index: 10;
    pointer-events: none;
  }
  .menu-container-mobile {
    flex-direction: column;
    padding: 12px;
    height: 100%;
    gap: 30px;
    z-index: 0;
    position: fixed;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    top: 0;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    z-index: 1000;
  }

  .menu-list {
    flex-wrap: wrap;
    pointer-events: auto;
  }

  .menu-list span {
    display: none;
  }

  #home {
    width: 50px;
  }

  .socials {
    position: absolute;
    bottom: 10px;
  }

  .logo-svg-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: absolute;
    mix-blend-mode: difference;
    flex-wrap: nowrap;
  }

  .logo-svg {
    transform: scale(1.4);
    position: absolute;
    top: 130px;
    fill: var(--accent-white);
  }

  .logo-png {
    margin: 0;
    width: fit-content;
    transform: scale(0.8);
    position: absolute;
    top: 125px;
    height: auto;
  }

  .landing-sub-container {
    margin: 0 auto;
    position: absolute;
    top: 350px;
  }

  .pg-header-text-landing {
    width: 200px;
    font-size: 20px;
  }

  .move-down {
    top: 220px;
  }

  .move-down-330 {
    top: 310px;
  }

  .move-down-420 {
    top: 400px;
  }

  .content__prod-wrap {
    margin-top: 55px;
    padding-bottom: 50px;
  }

  .content__vis-wrapper {
    margin-top: 10px;

  }

  .content__vis--grid {
    padding-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);

  }

  .content__vis--grid__item {
    width: 100%;
  }

  .content__vis--grid__item__img {
    height: 300px;
    min-height: 240px;
  }

  .visz-legend {
    padding-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .scan-smears img {
    width: 100%;
  }

  .content__prod-projects {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 80px;
    font-size: 13px;
  }

  .table-set {
    flex-direction: column;
    justify-content: center;
  }

  .no-overflow {
    overflow: scroll;
    scrollbar-width: none;
  }

  .overflw-none {
    overflow: hidden;
  }

  .margin-bttm {
    margin-bottom: 70px;
  }

  .content__about-wrapper {
    flex-wrap: wrap;
  }

  .content__about {
    width: 100%;
    height: 20%;
    padding: 15px;
  }

  .content__about-desc {
    column-count: 1;
  }

  .img-title {
    bottom: 50px;
  }

  footer {
    display: none;
  }
}
